In [14]:
import pandas as pd
import numpy as np
import datetime
import yfinance as yf

from finrl.meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.meta.preprocessor.preprocessors import FeatureEngineer, data_split
from finrl import config_tickers
from finrl.config import INDICATORS
from finrl.meta.data_processor import DataProcessor

import itertools

In [7]:
TRAIN_START_DATE = '2010-01-01'
TRAIN_END_DATE = '2023-01-01'
TRADE_START_DATE = '2023-01-01'
TRADE_END_DATE = '2025-01-01'

In [8]:
portfolio_symbols = [
    'AAPL', 
    'MSFT', 
    'GOOGL',
    'AMZN'
]

In [9]:
df_raw_data = YahooDownloader(start_date = TRAIN_START_DATE,
                              end_date = TRADE_END_DATE,
                              ticker_list = portfolio_symbols).fetch_data()

YF deprecation warning: set proxy via new config function: yf.set_config(proxy=proxy)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (15096, 8)

In [11]:
df_raw_data.head()

Price        date      close       high  ...     volume    tic  day
0      2010-01-04   6.424606   6.439316  ...  493729600   AAPL    0
1      2010-01-04   6.695000   6.830500  ...  151998000   AMZN    0
2      2010-01-04  15.576999  15.645595  ...   78169752  GOOGL    0
3      2010-01-04  23.173340  23.285650  ...   38409100   MSFT    0
4      2010-01-05   6.435713   6.472038  ...  601904800   AAPL    1

[5 rows x 8 columns]

In [15]:
fe = FeatureEngineer(
    use_technical_indicator=True,
    tech_indicator_list = INDICATORS,
    use_vix=True,
    use_turbulence=True,
    user_defined_feature=False
)

processed_data = fe.preprocess_data(df_raw_data)

Successfully added technical indicators

[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (3773, 8)
Successfully added vix
Successfully added turbulence index

In [16]:
processed_data

             date       close        high  ...  close_60_sma        vix  turbulence
0      2010-01-04    6.424606    6.439316  ...      6.424606  20.040001    0.000000
1      2010-01-04    6.695000    6.830500  ...      6.695000  20.040001    0.000000
2      2010-01-04   15.576999   15.645595  ...     15.576999  20.040001    0.000000
3      2010-01-04   23.173340   23.285650  ...     23.173340  20.040001    0.000000
4      2010-01-05    6.435713    6.472038  ...      6.430160  19.350000    0.000000
...           ...         ...         ...  ...           ...        ...         ...
15087  2024-12-27  428.177185  432.841557  ...    423.459639  15.950000    2.255864
15088  2024-12-30  251.307877  252.603281  ...    234.964253  17.400000    1.586247
15089  2024-12-30  221.300003  223.000000  ...    205.369667  17.400000    1.586247
15090  2024-12-30  190.618561  191.924301  ...    174.452619  17.400000    1.586247
15091  2024-12-30  422.508362  425.213499  ...    423.610843  17.400000    1.586247

[15092 rows x 18 columns]

In [17]:
list_ticker = processed_data["tic"].unique().tolist()
list_date = list(pd.date_range(processed_data['date'].min(), processed_data['date'].max()).astype(str))
combination = list(itertools.product(list_date, list_ticker))

final_processed_data = pd.DataFrame(combination, columns = ['date', 'tic']).merge(processed_data, on = ['date', 'tic'], how = 'left')
final_processed_data = final_processed_data[final_processed_data['date'].isin(processed_data['date'])]
final_processed_data = final_processed_data.sort_values(['date','tic'])

final_processed_data = final_processed_data.fillna(0)

In [18]:
final_processed_data

             date    tic       close  ...  close_60_sma        vix  turbulence
0      2010-01-04   AAPL    6.424606  ...      6.424606  20.040001    0.000000
1      2010-01-04   AMZN    6.695000  ...      6.695000  20.040001    0.000000
2      2010-01-04  GOOGL   15.576999  ...     15.576999  20.040001    0.000000
3      2010-01-04   MSFT   23.173340  ...     23.173340  20.040001    0.000000
4      2010-01-05   AAPL    6.435713  ...      6.430160  19.350000    0.000000
...           ...    ...         ...  ...           ...        ...         ...
21887  2024-12-27   MSFT  428.177185  ...    423.459639  15.950000    2.255864
21896  2024-12-30   AAPL  251.307877  ...    234.964253  17.400000    1.586247
21897  2024-12-30   AMZN  221.300003  ...    205.369667  17.400000    1.586247
21898  2024-12-30  GOOGL  190.618561  ...    174.452619  17.400000    1.586247
21899  2024-12-30   MSFT  422.508362  ...    423.610843  17.400000    1.586247

[15092 rows x 18 columns]

In [19]:
train = data_split(final_processed_data, TRAIN_START_DATE, TRAIN_END_DATE)
trade = data_split(final_processed_data, TRADE_START_DATE, TRADE_END_DATE)
print(len(train))
print(len(trade))

13088
2004

In [25]:
train

            date    tic       close  ...  close_60_sma        vix  turbulence
0     2010-01-04   AAPL    6.424606  ...      6.424606  20.040001    0.000000
0     2010-01-04   AMZN    6.695000  ...      6.695000  20.040001    0.000000
0     2010-01-04  GOOGL   15.576999  ...     15.576999  20.040001    0.000000
0     2010-01-04   MSFT   23.173340  ...     23.173340  20.040001    0.000000
1     2010-01-05   AAPL    6.435713  ...      6.430160  19.350000    0.000000
...          ...    ...         ...  ...           ...        ...         ...
3270  2022-12-29   MSFT  235.822784  ...    234.343710  21.440001    1.905451
3271  2022-12-30   AAPL  128.123062  ...    140.738595  21.670000    0.309391
3271  2022-12-30   AMZN   84.000000  ...     97.755667  21.670000    0.309391
3271  2022-12-30  GOOGL   87.625641  ...     94.108424  21.670000    0.309391
3271  2022-12-30   MSFT  234.658432  ...    234.202162  21.670000    0.309391

[13088 rows x 18 columns]

In [27]:
with open('/train_data', 'w') as f:
    train.to_csv('train_data.csv', index=False)

with open('/test_data', 'w') as f:
    trade.to_csv('test_data.csv', index=False)